@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0;
}
.wrapper {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align: center;
  text-align: center;
}
.text {
  color: #FFFFFF;
  font-family: 'Raleway', Verdana;
  text-align: center;
  display: none;
  position: relative;
  top: 40px;
}
.anim-button {
  margin-top: 5px;
  background-color: #428bca;
  color: white;
  font-family: 'Raleway';
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  align: center;
}