<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SweetAlert AJAX form validation example</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="form-template" class="hidden">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <input name="username" placeholder="Username" class="swal-content__input" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input name="password" placeholder="Password" class="swal-content__input" type="password">
      </div>
    </div>
  </form>    
</div>
<div class="row center-sm">
  <div class="col-sm-12">
    <p><button id="click-me-btn">Click me</button></p>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert@2.0.8/dist/sweetalert.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
